/* || ===

= IMKAN.com.sa
= BUGS

=== || */
#section1{
  img{
    max-height: 50px;
  }
}
#section2 .height .center .company img {
    height: 37px;
    width: auto;
    margin-right: 30px;
}
#section1 .height article .imgs{
  float: right;
  width: 100%;
}
#section1 .height article p{

@media only screen and (min-width: 1400px){
  margin-bottom: 30px;
}
}
.about-page .imgs figure a img{
  max-height: 50px;

}
